<h1>Welcome to Awsome Site</h1>
<p>This is page to check normal ajax</p>
<p><strong>Click below button to add content for page by ajax</strong></p>
<%= button_tag "Append content now!", type: "button", id: "append_content" %>
